body {
  background: #3F2860;
  color:white;
  font-family:'Roboto';
  font-size:17px;
}

.todo-header {
  color:#90C5A9;
  font-family:'Open Sans', sans-serif;
}

.todo-item {
  display:inline;
}

input[type="text"] {
  margin:0;
  font-size:17px;
  padding:10px;
  border:solid 1px #DCDCDC;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow:0 0 5px 1px #FA8B60;
}

button {
  font-size:17px;
  background: #3F2860;
  padding: 10px 30px;
  text-decoration: none;
  margin: 4px 2px;
  transition-duration:0.3s;
  cursor: pointer;
  color:white;
  border: 2px solid #EF6D3B;
}

button:hover {
  background:#EF6D3B;
}

i {
  transition-duration:0.3s;
  cursor: pointer;
}

i:hover {
  color: #EF6D3B;
}

b, .footer {
  color: #90C5A9;
  cursor:initial;
}

.footer:hover {
  color: #90C5A9;
}

hr {
  color: #7A9A95;
}

.todo-list .edit {
  display:none;
  padding: 3px;
}

.todo-list .fa-check {
  display: none;
}